{% extends "base_nav.html" %}

{% block maincontent %}

<div class="main-content">
  <div id="dashboard">
    <div class="box">
      <div class="box-header">
        <span>Projects</span>
      </div>
      <div class="box-content">
        <table class="table responsive">
          <table class="table table-striped" id="tableid">
            <thead>
              <tr>
                <th>Name</th>
                <th>Simulation Count</th>
                <th>Created</th>
              </tr>
            </thead>
            <tbody>
              {% for project in user.projects %}
              <tr>
                <td>
                  <a href="{{ url_for('project_view', id=project.id) }}">{{project.name}}</a>
                </td>
                <td>{{ project.record_count }}</td>
                <td>{{ project.created_at.strftime('%x %X') }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}

<script>
  $(document).ready(function() {
    $('#tableid').DataTable();
  } );
</script>

{% endblock %}
