{% extends "base_nav.html" %}

{% block maincontent %}

<div class="main-content">
  <div id="dashboard">
    <div class="box">
      <div class="box-header">
        <span>Projects</span>
      </div>
      <div class="box-content">
        <table class="table responsive">
          <table class="table" id="tableid">
            <thead>
              <tr>
                <th>Name</th>
                <th>Simulation Count</th>
                <th>Last Updated</th>
                <th>Last Update (no formatting for sorting)</th>
              </tr>
            </thead>
            <tbody>
              {% for project in user.projects %}
                <tr>
                  <td>
                    <a href="{{ url_for('project_view', id=project.id) }}">{{project.name}}</a>
                  </td>
                  <td>{{ project.record_count }}</td>
                  <td>{{ project.last_updated.strftime('%x %X') }}</td>
                  <td>{{ project.last_updated }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}

<script>
  $(document).ready(function() {
    $('#tableid').DataTable( {
      "bSort": true,
      "aaSorting": [[3,'desc']],
      "columnDefs": [
        {
          "targets": [ 2 ],
          "iDataSort": 3
        },
        {
          "targets": [ 3 ],
          "visible": false,
        }
    ] } );
  } );
</script>

{% endblock %}
